<%= form_with model: event do |form| %>
  <% if event.errors.any? %>
    <div id='error_description'>
      <h2><%= pluralize(event.errors.count, 'error') %> prohibited his event from being saved:</h2>
      <ul>
        <% event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %><br>
  <%= form.text_field :name, placeholder: 'Name of event...' %><br>
  <%= form.label :location %><br>
  <%= form.text_field :location, placeholder: 'Name of location...' %><br>
  <%= form.label :date %><br>
  <%= form.date_field :date %><br>
  <%= form.submit %>
<% end %>
