<h1>All Events</h1>

<% if session[:current_user_id] %>
    <%= link_to 'Logout', sessions_path, method: :delete %>
    <%= link_to 'Profile', user_path(session[:current_user_id]) %>
<% else %>
  <%= link_to 'Login', new_sessions_path %>
  <%= link_to 'Register', new_user_path %>
<% end %>

<%= link_to 'New Event', new_event_path %>

<h2>Past Events</h2>
<ul>
  <% @events.where("date <= ?", Date.today).each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>
<h2>Future Events</h2>
<ul>
  <% @events.where("date > ?", Date.today).each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>
